# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# Mac
.DS_Store

# Project Specific - Sensitive Data
config.ini
category_files/client_secrets.json
data_connection/knowledge_base.json
*.log

# Large model files
~1/
