[BASIC]
llm_endpoint = openai

[OLLAMA_CONFIG]
llm_model = openhermes

[OPENAI_CONFIG]
openai_model = gpt-3.5-turbo-0125
max_tokens = 4096

[CREWAI_SCRIPTS]
llm_endpoint_within_generated_scripts = openai
llm_model_within_generated_scripts = openai
add_api_keys_to_crewai_scripts = true
add_ollama_host_url_to_crewai_scripts = true
overall_goal_truncation_for_filenames = 40

[AUTHENTICATORS]
openai_api_key = YOUR_OPENAI_API_KEY_HERE
ngrok_auth_token = YOUR_NGROK_AUTH_TOKEN_HERE
ngrok_api_key = YOUR_NGROK_API_KEY_HERE

[REMOTE_HOST_CONFIG]
reset_ollama_host_on_startup = false
use_remote_ollama_host = false
name_of_remote_ollama_host = ngrok

[OPENAI]
API_KEY = YOUR_OPENAI_API_KEY_HERE
GPT35 = gpt-3.5-turbo-0125
GPT4O = gpt-4o
GPT4 = gpt-4-turbo

[EMBEDDING]
OPENAI_EMBEDDING = text-embedding-3-large

[GROQ]
API_KEY = YOUR_GROQ_API_KEY_HERE
LLAMA3_8B = llama3-8b-8192
LLAMA3_70B = llama3-70b-8192
MIXTRAL_8x7B = mixtral-8x7b-32768
GEMMA_7B = gemma-7b-it

[TOGETHER]
API_KEY = YOUR_TOGETHER_API_KEY_HERE
LLAMA3_8B = meta-llama/Llama-3-8b-chat-hf
LLAMA3_70B = meta-llama/Llama-3-70b-chat-hf
QWEN15_32B = Qwen/Qwen1.5-32B-Chat
NOUSHERMESLLAMA2_13B = NousResearch/Nous-Hermes-Llama2-13b

[COHERE]
API_KEY = YOUR_COHERE_API_KEY_HERE
COMMAND_R_PLUS = command-r-plus

[FIREWORKS]
API_KEY = YOUR_FIREWORKS_API_KEY_HERE
HERMES2PRO_MISTRAL_7B = accounts/fireworks/models/firellava-13b

[CLAUDE]
OPUS = claude-3-opus-20240229
HAIKU = claude-3-haiku-20240307
API_KEY = YOUR_CLAUDE_API_KEY_HERE

[ZEN]
API_KEY = YOUR_ZEN_API_KEY_HERE
BASE_URL = https://zen-ai.top/v1

[SERPAPI]
API_KEY = YOUR_SERPAPI_KEY_HERE

[SETTINGS]
SEARCH_LEVEL = 0
SEARCH_WEB_NUM = 3

TOPIC = stock

[UPLOAD]
FREEIMAGE_API_KEY = YOUR_FREEIMAGE_API_KEY_HERE
